/* 固定 nav bar */
.app-nav {
    position: fixed!important;
    background-color: #bfe6ba;
    margin: 0;
}
.app-nav.no-badge{
        margin-right: 0!important;
}

/* 修改默认上边距 */
.content {
  padding-top: 0.8rem!important;
}

/* 隐藏 waline 底部 power */
.wl-power{
  display: none!important;
}